{"ignition":{"config":{"merge":[{"source":"https://<fullfqdnofapi>:22623/config/master"}]},"security":{"tls":{"certificateAuthorities":[{"source":"data:text/plain;charset=utf-8;base64,<base64encodedcrt>"}]}},"version":"3.1.0"}}
